@import url(./__list/element__list.css);
@import url(./__item/element__item.css);
@import url(./__image/element__image.css);
@import url(./__title/element__title.css);
@import url(./__like-container/element__like-container.css);
@import url(./__like-button/element__like-button.css);
@import url(./__like-score/element__like-score.css);
@import url(./__delete-button/element__delete-button.css);

.element {
  width: 282px;
  height: 362px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-width: 282px;
  background-color: #ffffff;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  position: relative;
  overflow: hidden;
}