@import url(__logo/header__logo.css);

.header {
  max-width: 882px;
  width: 75%;
  padding-top: 45px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}


@media screen and (max-width: 480px) {
  .header {
    padding-top: 28px;
    width: 100%;
  }
 }  